// Archivo de tipografía 
*{
    font-family: 'Poppins', sans-serif;
    color: #171717;
}

.header__brand {
    font-weight: bold;
    font-size: 24px;
}
.contenido__titulo {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;

}

.articulo-actual__fecha {
    font-weight: 400;
    font-size: 18px;
}

.articulo-actual__titulo {
    font-weight: 700;
    margin-bottom: 20px;
}

.tag-actual__texto {
    font-size: 24px;
    font-weight: 500;
}

.articulo__fecha {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.articulo__titulo {
    font-size: 20px;
    font-weight: 700;
}

.tag__texto {
    font-size: 16px;
    font-weight: 500;
}

.banner__titulo{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

.texto{
    font-size: 20px;
}

.enlace{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}