// Archivo de variables 
$adl:#63af2b;
$white: #ffffff;
$primary: #272525;
$secondary: #595353;

//TIPOGRAFIAS
$poppins-font: 'Poppins', sans-serif;
$roboto-fonts: 'Roboto', sans-serif;
$lato-fonts: 'Lato', sans-serif;

//PESOS FUENTES
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

//TAMAÑO FUENTES
$fs1: 32px;
$fs2: 28px;
$fs3: 32px;
$fs4: 24px;
$fs5: 20px;
$fs6: 18px;

//SPACING
$sp1: 8px;
$sp2: 16px;
$sp3: 20px;
$sp4: 25px;
$sp5: 30px;